/* Reset CSS: Impostiamo alcuni valori di default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Impostazioni di base */
body {
    font-family: 'Times New Roman', serif; /* Font Times New Roman */
    background: url('https://img.freepik.com/premium-vector/pink-sky-with-clouds-baby-background_160081-1204.jpg') no-repeat center center fixed; /* Sfondo con immagine */
    background-size: cover; /* L'immagine copre tutto lo schermo */
    color: #333;
    height: 100vh; /* Assicurati che il body prenda tutta l'altezza della pagina */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #d81b60; /* Rosa scuro */
    font-size: 2.5em;
    margin-top: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo semi-trasparente per i form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-container {
    margin-right: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 350px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #d81b60;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d81b60;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #d81b60; /* Rosa scuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
}

button:hover {
    background-color: #c2185b; /* Rosa più scuro */
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8bbd0; /* Rosa chiaro */
    border: 1px solid #d81b60;
    border-radius: 4px;
    font-size: 1.5em;
    color: #d81b60;
    text-align: center;
}

.heart {
    font-size: 3em;
    color: #d81b60;
    margin-bottom: 20px;
}

.floating-heart {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 3em;
    color: #f48fb1;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
